<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="netEndpoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.1.101:6666/volumecontrol" binding="netTcpBinding"
                bindingConfiguration="netEndpoint" contract="VolumeControlService.IVolumeControlWCFService"
                name="netEndpoint">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
